[Unit]
Description=VPN Manager daemon
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
ExecStart=/var/local/bin/vpnmd

[Install]
WantedBy=multi-user.target
